<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Songs</title>
</head>
<body>
<div class="container m-5 text-uppercase fw-bold">
    <h1>Songs</h1>
    <ul>
       <li th:each="song: ${songs}" th:text="|${song.songID} ${song.songTitle} ${song.songAuthor}|"></li>
    </ul>
    <img class="m-2 w-50" src="artist.avif" alt="artist logo" >
    <a class="btn btn-danger" th:href="@{/movies}">Check Best Movies</a>
    <a class="btn btn-danger pt-2" th:href="@{/}">Return To HomePage</a>
</div>
</body>
</html>